@charset "utf-8";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* これを全要素に入れるのがモダン開発の鉄則 */
}
body{
    background-color: #f4f4f4;
    color: #333;
    font-family: sans-serif;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: #fff; /* ヘッダーだけ白くするとより綺麗 */
}
ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    gap: 30px
}
a{
    text-decoration: none;color: inherit; /* 親の文字色を引き継ぐ */
}